<div class="container mx-auto px-4 py-8">
  <div class="max-w-3xl mx-auto">
    <div class="card bg-base-100 shadow-xl mb-8">
      <div class="card-body">
        <h2 class="card-title text-3xl font-bold text-center">結果</h2>
        <p class="text-lg text-center mt-4">正解数: <span class="text-primary font-bold"><%= @correct_count %></span> / <%= @questions.count %></p>
      </div>
    </div>

    <% @questions.each_with_index do |question, index| %>
      <div class="card bg-base-100 shadow-md mb-6">
        <div class="card-body">
          <h3 class="text-xl font-semibold">問題 <%= index + 1 %>: <%= question.content %></h3>

          <div class="mt-4">
            <p class="font-medium">正解:</p>
            <ul class="list-disc pl-6 text-green-600">
              <% question.answers.each do |correct_answer| %>
                <li><%= correct_answer %></li>
              <% end %>
            </ul>
          </div>

          <!-- 解説 -->
          <div class="mt-4">
            <p class="font-medium">解説:</p>
            <p class="text-gray-700 mt-2"><%= question.explain %></p>
          </div>
        </div>
      </div>
    <% end %>

    <div class="text-center mt-8">
      <a
        href="https://twitter.com/intent/tweet?text=<%= ERB::Util.url_encode("正解数: #{@correct_count} / #{@questions.count} \nあなたはRUNTEQをどのくらい識っている？？\n#RUNTEQ_HELP_MASTER\n") %>&url=<%= ERB::Util.url_encode("#{request.protocol}#{request.host_with_port}") %>"
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-primary bg-black text-white hover:bg-white hover:text-black border-black">
        結果をXでシェア
      </a>
    </div>
    <div class="text-center mt-8 flex gap-4 justify-center">
      <%= link_to 'もう一度やる', new_quiz_path, class: 'btn btn-secondary' %>
      <%= link_to 'TOP', root_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
