<div class="container mx-auto px-4 py-8">
  <div class="max-w-3xl mx-auto">
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title text-2xl font-bold mb-8"><%= @question.content %></h2>

        <div data-controller="quiz">
          <%= form_with model: @quiz, url: quizzes_path do |f| %>
            <%= f.hidden_field :question_id, value: @question.id %>

            <div class="grid grid-cols-1 gap-2">
              <% @question.choices.shuffle.each do |choice| %>
                <div class="form-control">
                  <label id="answers_<%= choice %>_label" class="label cursor-pointer gap-4 flex items-center has_checkbox">
                    <%= f.check_box :selected_answers, { multiple: true, name: 'quiz[selected_answers][]', id: "answers_#{choice}", data: { action: "quiz#check", quiz_target: "checkbox" } }, choice, nil %>
                    <div class="btn btn-block hover:bg-white hover:text-primary text-xl fonr-semibold hover:border-primary h-full"><%= simple_format(choice) %></div>
                  </label>
                </div>
              <% end %>
            </div>

            <div id="answer_submit" class="card-actions justify-center mt-8">
              <%= f.submit '回答する', class: "btn btn-secondary btn-lg px-8 py-3 text-lg shadow-lg hover:shadow-2xl transition-transform transform hover:scale-105", data: { quiz_target: "submitButton" }, disabled: true %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="answer" pre-class="container mx-auto px-4 py-8 max-w-3xl mx-auto card bg-base-100 shadow-xl card-body card-title text-2xl font-bold mb-8 text-sky-500 text-center block card-actions justify-center mt-8 btn btn-secondary btn-lg px-8 py-3 text-lg shadow-lg hover:shadow-2xl transition-transform transform hover:scale-105 no-animation bg-white text-primary border-primary list-disc text-red-500 ml-8" />
